.user {
  background-color: #2b3566;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.user img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 4px solid #6440ff
}

.location {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.location svg {
  color: #4ed8c7;
  font-size: 1.5rem;
}

.location span {
  color: #9da5d1;
  font-weight: bold;
}

.stats {
  display: flex;
}

.stats div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.stats div:first-child {
 border-right: 1px solid #9da5d1;
}

.stats .number {
  color: #4ed8c7;
  padding: 1.2rem 1.4rem;
  border-radius: 3px;
}

.user a {
  text-align: center;
  background-color: #6440ff;
  padding: 1rem;
  border-radius: 5px;
  opacity: .8;
  transition: .3s;
}

user a:hover {
  opacity: 1;
}