.error {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;

}

.error_text {
  color: red;
}

.error_list {
  display: flex;
  flex-flow: column;
  list-style: none;
  align-items: flex-start;

  text-align: left;

}