.container {
  background-color: rgb(32, 34, 22);
  margin-top: 1rem;
  padding-top: 1rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;

}

.list {
  border: 1px solid #2D3566;
  margin: 1rem 0;
  background-color: rgb(26, 26, 68);
  margin: 1rem;
  padding: 1rem;

  list-style: none;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.list_title {
  font-size: 1.5rem;
  margin: 0 0 .3rem 0;
}

.list li {
  padding: 0 0 0 1rem;
  border-left: 1px solid rgb(16, 197, 0);
  margin: 0 0 1rem 0;
}

.list p {
  text-align: left;
  padding: 0 0 0 1rem;
}

.list a {
  text-decoration: none;
  color: rgb(16, 197, 0);
  border: 1px solid rgb(16, 197, 0);
  border-radius: 5px;
  padding: .5rem;
  transition: .5s;

}

.list a:hover {
  background-color: rgb(16, 197, 0);
  color: rgb(26, 26, 68);
}

.item_container {
  display: flex;
  margin: 0 0 1rem 0;
}

.stars_forks {
  display: flex;
  align-items: center;
  align-content: center;
}

.stars_forks:nth-child(2) > li {
  margin-left: 10px;
  margin-right: 10px !important;
}

.icon_svg {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  margin-right: .5rem;

  background-color: rgb(16, 197, 0);
  border-radius: 25%;
}

.error_li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-left: 1px solid rgb(16, 197, 0);
  padding: 0 0 0 1rem;
  margin: 0 0 1rem 0;
}