* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  color: #fff;
}

body {
  background-color: #0e1129;
  padding: 2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

.error {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}